body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  margin: 0;
}

img {
  height: 200px;
  width: 200px;
  margin-top: 20px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
}

img:hover {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  border: 5px solid whitesmoke;
  transition: 0.75s;
  box-shadow: 0px 0px 10px #10b98100, 0px 0px 20px #10b924, 0px 0px 40px #10b981,
    0px 0px 80px #00d930;
}

.container {
  width: 570px;
  margin: 0 auto;
}

/* typography */

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 60px;
  margin-top: 0;
}

h2 {
  font-size: 42px;
  margin-top: 0;
}

h3 {
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 0;
}

.small-txt {
  font-size: 16px;
  margin-top: 3px;
}

.bold-text {
  font-weight: 900;
  display: block;
  outline-color: whitesmoke;
}

h1.bold-text {
  font-size: 80px;
}

h2.bold-text {
  font-size: 60px;
}

p {
  margin-bottom: 0;
}

a {
  color: #00d930;
  font-weight: 900;
}
a:hover,
a:focus {
  color: #6c6c6c;
  font-weight: 900;
}

/* Styling */

header,
section {
  padding: 100px 0;
}

.inverse {
  background-color: #131313;
  color: #fff;
}

.heading-color {
  color: #00d930;
  text-shadow: 0px 0px 5px #10b98100, 0px 0px 10px #10b924, 0px 0px 15px #10b981,
    0px 0px 20px #00d930;
}

.heading-color2 {
  color: #00d930;
}

.about-me {
  background-color: azure;
}

.projects {
  background-color: #131313;
  color: #fff;
}

footer {
  background-color: azure;
}
.footer {
  padding: 25px 0;
  margin-top: 0;
}
